@model IEnumerable<ControleMesalidadeCTTAPlayGround.Models.PagamentoModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de pagamentos</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Socio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasAdimplencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Socio.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasAdimplencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Editar o pagamento</a>  *@
                @* <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> | *@
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
